.main {
  display: flex;
  &-container {
    width: 1140px;
    margin: 0 auto;
  }
}
.nav-link {
  font-size: 24px;
  margin-top: 40px;
  padding: 0;
  display: flex;
  line-height: 60px;

  &__item-dep {
    display: block;
    width: 580px;
    background-color: #007bff;
    opacity: 0.7;
    text-align: right;
    outline: none;
    text-decoration: none;
    border-top-left-radius: 50px;
  }
  &__item-arr {
    display: block;
    width: 650px;
    background-color: #fff;
    opacity: 0.7;
    outline: none;
    text-decoration: none;
    border-top-right-radius: 50px;
  }
}
.nav-link_direction__dep {
  color: #fff;

  margin: 20px;
  text-transform: uppercase;
}

.fa-plane-arrival {
  margin-left: 20px;
}
.arr_link {
  color: #007bff;
}
.nav-link_direction__arr {
  margin: 20px;
  text-transform: uppercase;
}
.fa-plane-departure {
  color: #fff;
}

.tabs-container {
  display: flex;
  justify-content: center;
}
