.main {
  display: flex;
  &-container {
    width: 1140px;
    margin: 0 auto;
  }
}
.nav-link {
  font-size: 24px;
  margin-top: 40px;
  padding: 0;
  display: flex;
  line-height: 60px;
  background-color: #1eb7ee;
  border-radius: 80px 80px 0 0;

  &__item-dep {
    padding-right: 100px;
    border-radius: 80px 80px 0 0;
    display: block;
    width: 580px;
    text-align: right;
    outline: none;
    text-decoration: none;
    &__active {
      background: #fff;
      color: #1eb7ee;
    }
    &__disabled {
      background: #1eb7ee;
      color: #fff;
    }
  }
  &__item-arr {
    padding-left: 100px;
    border-radius: 80px 80px 0 0;
    display: block;
    width: 580px;
    outline: none;
    text-decoration: none;
    &__active {
      background: #fff;
      color: #1eb7ee;
    }
    &__disabled {
      background: #1eb7ee;
      color: #fff;
    }
  }
}

.fa-plane {
  margin: auto;

  &-departure {
    padding-right: 10px;
    pointer-events: none;
  }
  &-arrival {
    padding-right: 10px;
    pointer-events: none;
  }
}

.tabs-container {
  display: flex;
  justify-content: center;
}
